body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.encabezado {
    text-align: right;
    font-style: oblique;
}

#remitente {
    font-weight: bold;
    font-size: 33px;
}

#subtitulo {
    font-weight: bold;
    font-size: 22px;
}

.lista {
    list-style-position: inside;
}

#parrafo {
    margin: auto 25px;
}