body {
    background: #EFE5E5;
    width: 99%;
    height: auto;
}

#basaluan {
    width: 9%;
    height: auto;
    float: left;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.encabezado {
    width: 85%;
    height: auto;
    float: right;
    margin: auto 1%;
    background-image: url(/inicio/archivos/fondo.gif);
    background-size: 8% auto;
    text-align: center;
    color: #000000;
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
}

.barra_navegacion {
    width: 85%;
    height: auto;
    float: right;
    margin: auto 1%;
    background-color: #DB1616;
}

#enlaces {
    margin: auto 20%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

#informacion {
    float: left;
}

#galeria {
    display: inline-block;
}

#contacto {
    float: right;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:active {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

.seccion {
    width: 70%;
    height: auto;
    float: left;
    margin: 1% 1%;
    border-radius: 5px;
    background: #c5b8b8;
}

.articulo1 {
    margin: 1% 5%;
}

.articulo2 {
    margin: 1% 5%;
}

.articulo3 {
    margin: 1% 5%;
}

.contenido {
    width: 25%;
    height: auto;
    float: right;
    margin: 2% 1%;
    background: #808080;
    border-radius: 20px;
    box-shadow: 10px 5px 30px #DB1616;
    font: 22px "Comic Sans MS", cursive;
}

.pie_pagina {
    color: #DB1616;
    clear: both;
    text-align: center;
    padding: 1%;
    border-bottom: 2px solid #DB1616;
}