body {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: #BDCAD1;
    text-align: center;
}

#titulo {
    width: 100%;
    height: auto;
    position: fixed;
    background: #979EA3;
    top: 0;
    left: 0;
}

#inicio {
    float: left;
    top: 2%;
    left: 5%;
    text-align: center;
    border-radius: 15%;
    background: #DB1616;
    position: fixed;
}

#nombre {
    text-align: left;
    border-color: #000000;
}

.informacion_titulo {
    width: 85%;
    height: auto;
    text-align: center;
    float: right;
}

.informacion_personal {
    margin: 8% auto;
    width: 70%;
    height: auto;
}

.informacion_academica {
    margin: 8% auto;
    width: 70%;
    height: auto;
}

.informacion_contacto {
    margin: 8% auto;
    width: 70%;
    height: auto;
    text-align: left;
}