.inicio {
    text-align: right;
}

.centrar {
    width: 50%;
    margin: 0 auto;
}

.cursiva {
    font-style: oblique;
}

.titulo {
    font-size: 22px;
    font-weight: bold;
}

.subtitulo {
    font-size: 18px;
    font-weight: bold;
}

.espacio {
    text-indent: 2cm;
}