body {
    display: block;
    background: #1d1a1a;
    width: 99%;
}

#inicio {
    float: right;
    top: 2%;
    left: 5%;
    text-align: center;
    border-radius: 15%;
    background: #DB1616;
    position: fixed;
}

#titulo {
    width: 100%;
    height: auto;
    position: fixed;
    background: #979EA3;
    top: 0;
    left: 0;
    text-align: center;
}

#mapa {
    margin: 7% auto;
    width: 1000px;
    height: 700px;
}