body {
    display: block;
    background: #1d1a1a;
    width: 99%;
}

#inicio {
    width: 9%;
    height: auto;
    float: left;
    margin: auto 1%;
    text-align: center;
    border-radius: 15%;
    background: #DB1616;
}

#imagen {
    width: 100%;
    height: auto;
}

#titulo {
    width: 85%;
    height: auto;
    float: right;
    margin: 1% 2%;
    background: #979EA3;
    text-align: center;
}

#mapa {
    margin: 1% auto;
    width: 1000px;
    height: 700px;
    position: fixed;
}